VICTRON_MQTT_HOST=192.168.1.100
VICTRON_MQTT_USE_SSL=false
KEEPALIVE_INTERVAL_SECONDS=60

DOWNSTREAM_MQTT_HOST=192.168.1.200
DOWNSTREAM_MQTT_PORT=1883
DOWNSTREAM_MQTT_USE_SSL=false
# DOWNSTREAM_MQTT_USERNAME=
# DOWNSTREAM_MQTT_PASSWORD=
